main.container {
    border: 1px solid black;
    width: 400px;
    margin: 100px auto;
    font-family: 'Raleway', sans-serif;
}

#title {
    text-align: center;
    margin: 0px;
    padding: 5px 0px;
    background-color: blue;
    color: white;
}

#todoInput {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: floralwhite;
    padding: 15px 10px;
    font-size: 20px;
}

#todoInput::placeholder {
    color: lightblue;
}

#todoInput:focus {
    outline: none;
    border: 1px solid lightblue;
}

ul {
    margin: 0px;
    padding: 0px;
}

span {
    margin-right: 10px;
    background-color: red;
    text-align: center;
    opacity: 0;
    width: 0;
    transition: 0.2s linear;
    display: inline-block;
}

i {
    color: white;
    font-size: 15px;
    margin: 15px;
}

li {
    list-style: none;
    font-size: 15px;
}

li:hover span {
    opacity: 1;
    width: 40px;
}

li:nth-child(even) {
    background-color: floralwhite;
}